@import 'bower_components/Hover.css/scss/hacks';
@import 'bower_components/Hover.css/scss/options';
@import 'bower_components/Hover.css/scss/effects/outline-outward';

.outline-outward {
  @include outline-outward;
}
