@import "scss/variables";
@import "scss/effects";
@import "scss/fonts";
$include-html-global-classes: false;
@import "bower_components/foundation/scss/foundation/components/global";

.title {
  font-family: "Amaranth", "Open Sans", "Helvetica Neue",  sans-serif;
}

.angular-google-map-container {
  height: 200px;

  @media #{$medium-up} {
    height: 400px;
  }

  @media #{$large-up} {
    height: 500px;
  }
}

.main-section {
  padding: 50px 0 50px 0;
  text-align: center;
  color: #fff;

  @media #{$medium-up} {
    padding: 150px 0 150px 0;
  }

  h1 {
    font-weight: bold;
    color: #fff;
  }

  p {
    font-size: rem-calc(20);
  }
}

.introduction {
  background-color: $hackedu-blue;
}

.pillars {
  background-color: $hackedu-purple;

  img {
    height: 125px;
    margin-bottom: 15px;
  }

  h1 {
    margin-bottom: 75px;
  }

  .columns h1 {
    font-size: rem-calc(28);
    margin-bottom: 0;
  }
}

.call-to-action {
  background-color: $hackedu-green;

  h1 {
    font-size: rem-calc(48);
    font-weight: bold;
    margin-bottom: 15px;

    @media #{$medium-up} {
      font-size: rem-calc(64);
    }
  }

  .button {
    background-color: #fff;
    color: scale-color($hackedu-green, $lightness: -10%);
    font-size: rem-calc(20);
    font-weight: bold;

    @media #{$medium-up} {
      font-size: rem-calc(24);
    }
  }

  .outline-outward:before {
    border-color: #fff;
  }
}

.sponsors {
  background-color: $hackedu-orange;

  .logos {
    margin-top: 100px;
  }

  p {
    font-size: rem-calc(28);
  }

  img {
    height: 50px;

    @media #{$medium-up} {
      height: 100px;
    }
  }
}

.rackspace {
  background-color: $hackedu-black;
  color: $text-on-black;

  p {
    font-size: rem-calc(14);
    margin: 15px 0 15px 0;

    @media #{$medium-up} {
      font-size: rem-calc(18);
      margin: 30px 0 30px;
    }

    a {
      color: scale-color($text-on-black, $lightness: 10%);
      text-decoration: underline;
    }
  }
}

.team-profile {
  margin-top: 20px;
}

.team-profile-img {
  max-height: 300px;
  border-radius: 8px;
}
