<div class="row">
  <h1>Icons</h1>
  <ul>
    <% icons.each do |icon| %>
      <li>
        <a href="<%= icon[:url] %>"><%= icon[:name] %></a> -
        <a href="<%= icon[:author_url] %>"><%= icon[:author] %></a>
      </li>
    <% end %>
  </ul>
</div>
