<div id="landing-map-jumbotron"></div>
<div class="introduction main-section">
  <div class="row">
    <h1>
      hackEDU is a nonprofit organization that helps high school students
      start and lead programming clubs at their schools.
    </h1>
  </div>
</div>
<div class="pillars main-section">
  <div class="row">
    <h1>What We Do</h1>
    <div class="medium-4 columns">
      <img src="/images/books.svg">
      <h1>Resources</h1>
      <p>hackEDU provides open-ended curriculum, mentors, and any resources
      needed to students starting and running clubs.</p>
    </div>
    <div class="medium-4 columns">
      <img src="/images/community.svg">
      <h1>Community</h1>
      <p>We care about building a global community of students creating
      peer-to-peer learning environments.</p>
    </div>
    <div class="medium-4 columns">
      <img src="/images/open_source.svg">
      <h1>Open Source</h1>
      <p>We're a new type of startup. Everything from our website to our
      financials is open source under a permissive license.</p>
    </div>
  </div>
</div>
<div class="sponsors main-section">
  <div class="row">
    <h1>Sponsors</h1>
    <p>hackEDU wouldn't be possible without our wonderful sponsors</p>

    <!-- TODO: Replace with real sponsor images -->
    <div class="row logos">
      <% sponsors.each do |sponsor| %>
        <div class="small-6 medium-4 columns"
          ng-repeat="sponsor in sponsors">
          <img src="<%= sponsor[:logo] %>" alt="<%= sponsor[:name] %>">
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="call-to-action main-section">
  <div class="row">
    <h1>Get Involved</h1>
    <a href="/apply" class="button outline-outward">
      Start a Hack Club
    </a>
  </div>
</div>
<div class="rackspace">
  <div class="row">
    <p>
    hackEDU is generously hosted by
    <a href="https://www.rackspace.com/">Rackspace</a>

    <span class="right">
      <a href="https://github.com/hackedu">GitHub</a>
      <a href="/attributions">Attributions</a>
    </span>
    </p>
  </div>
</div>

<%= js :landing_map_jumbotron %>
