#landing-map-jumbotron
.introduction.main-section
  .row
    %h1
      hackEDU is a nonprofit organization that helps high school students
      start and lead programming clubs at their schools.
.pillars.main-section
  .row
    %h1 What We Do
    .medium-4.columns
      %img{src: '/images/books.svg'}/
      %h1 Resources
      %p
        hackEDU provides open-ended curriculum, mentors, and any resources
        needed to students starting and running clubs.
    .medium-4.columns
      %img{src: '/images/community.svg'}/
      %h1 Community
      %p
        We care about building a global community of students creating
        peer-to-peer learning environments.
    .medium-4.columns
      %img{src: '/images/open_source.svg'}/
      %h1 Open Source
      %p
        We're a new type of startup. Everything from our website to our
        financials is open source under a permissive license.
.sponsors.main-section
  .row
    %h1 Sponsors
    %p hackEDU wouldn't be possible without our wonderful sponsors
    / TODO: Replace with real sponsor images
    .row.logos
      - @sponsors.each do |sponsor|
        .small-6.medium-4.columns
          %img{alt: sponsor[:name], src: sponsor[:logo]}/
.call-to-action.main-section
  .row
    %h1 Get Involved
    %a.button.outline-outward{href: '/apply'}
      Start a Hack Club
.rackspace
  .row
    %p
      hackEDU is generously hosted by
      %a{href: 'https://www.rackspace.com/'} Rackspace
      %span.right
        %a{href: 'https://github.com/hackedu'} GitHub
        %a{href: '/attributions'} Attributions
= js :landing_map_jumbotron
