<div>
  <li><a href="/">Home</a></li>
  <li><a href="/apply">Apply</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><a href="/contact">Contact</a></li>
</div>
