= provide :title, 'Attributions'

.row
  %h1 Attributions

  %h2 Icons
  %ul
    - @icons.each do |icon|
      %li
        = link_to icon.name, icon.url
        \-
        = link_to icon.author, icon.author_url
