.introduction.main-section
  .row
    %span.vertical-align
      %h1
        <b>hackEDU</b> empowers high school students <b>to build things they
        care about</b> through <b>creating</b>, <b>connecting</b>, and growing
        <b>student-run</b> coding clubs in <b>high schools</b>.
#home-map-jumbotron
-#.sponsors.main-section
  -#.row
    -#%h1 Sponsors
    -#.row.logos
      -#/ TODO: Replace with real sponsor images
      -#-#- @sponsors.each do |sponsor|
        -#-#.small-6.medium-4.columns
          -#-#%img{alt: sponsor[:name], src: sponsor[:logo]}/
.call-to-action.main-section
  .row
    %h1 Get Involved
    = link_to 'Start a Hack Club', apply_path, class: 'button outline-outward'
.rackspace
  .row
    %p
      hackEDU is generously hosted by
      = link_to 'Rackspace', 'https://www.rackspace.com/'
      %span.right
        = link_to 'GitHub', 'https://github.com/hackedu'
        = link_to 'Attributions', attributions_path
