$hackclub-red: #E42D40;
$hackclub-blue: #3b67a8;
$hackclub-green: #09ad5e;
$hackclub-black: #303030;
$hackclub-purple: #794aa1;
$hackclub-orange: #e37717;
$hackclub-white: #ffffff;
$hackclub-lightgray: #fafafa;
