@import "variables";
@import "foundation/components/global";

// Modified from http://zurb.com/building-blocks/radio-button-group-selection
input[data-toggle] {
  display: none;
}

input[data-toggle] + label:hover {
  background-color: scale-color($hackclub-blue, $lightness: 25%);
}

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  color: $hackclub-white;
  background-color: $hackclub-blue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 
    0 1px 2px rgba(0, 0, 0, 0.05);
}

.button-group.toggle {
  li:not(first-child) {
    margin: 0 -0.9rem;
  }
}

.donation-header {
  background-image: asset_url("hack_huddle.jpg");
  background-size: cover;
  background-position: center;

  padding: 25px 0;
  color: $hackclub-white;
  text-align: left;

  h1 {
    color: $hackclub-white;
  }

  @media #{$medium-up} {
    padding: 100px 0;
  }

  .heading {
    font-size: rem-calc(28);
    font-weight: bold;

    @media #{$medium-up} {
      font-size: rem-calc(42);
    }

    @media #{$large-up} {
      font-size: rem-calc(56);
    }
  }

  .subheading {
    font-size: rem-calc(18);
    margin-top: 25px;

    @media #{$medium-up} {
      font-size: rem-calc(32);
    }
  }
}

// Custom donation form styles
.donation-form {
  margin-top: 1.1em;;

  @media #{$medium-up} {
    margin-top: 2.5em;
  }
}

.donation-form .button {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .4em;
}

.donation-form section {
  margin-bottom: 1em;
}

.donation-form .donation-impact {
  @media #{$medium-up} {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.donation-form #contribute {
  background-color: $hackclub-blue;
}