@import "variables";
@import "fonts";
$include-html-global-classes: false;
@import "foundation/components/global";

.title {
  font-family: "Open Sans", "Helvetica Neue",  sans-serif;
}

.header {
  font-size: rem-calc(28);
}

.hackclub-logo {
  font-family: "Amaranth", "Open Sans", "Helvetica Neue",  sans-serif;
  font-size: 100%;
  font-weight: bold;
}

#home-map-jumbotron {
  height: 200px;

  @media #{$medium-up} {
    height: 400px;
  }

  @media #{$large-up} {
    height: 500px;
  }
}

.colored-section {
  color: $hackclub-white;

  h1 {
    color: $hackclub-white;
  }
}

.main-section {
  padding: 50px 0 50px 0;
  text-align: center;

  p {
    font-size: rem-calc(20);
  }

  @media #{$medium-up} {
    padding: 50px 0 50px 0;
  }
}

.small-section {
  @extend .main-section;
  padding: 20px 0 20px 0;

  @media #{$medium-up} {
    padding: 50px 0 50px 0;
  }
}

.introduction {
  @extend .colored-section;
  background-image: asset_url("group_photo.jpg");
  background-size: cover;
  padding: 25px 0;
  text-align: left;

  @media #{$medium-up} {
    padding: 100px 0;
  }

  .heading {
    font-size: rem-calc(28);
    font-weight: bold;

    @media #{$medium-up} {
      font-size: rem-calc(42);
    }

    @media #{$large-up} {
      font-size: rem-calc(56);
    }
  }

  .subheading {
    font-size: rem-calc(18);
    margin-top: 25px;

    @media #{$medium-up} {
      font-size: rem-calc(32);
    }
  }

  .start-a-club {
    background: $hackclub-red;
    color: $hackclub-white;
    margin-left: 0;
    margin-top: 30px;
  }

  .outline-outward:before {
    border-color: $hackclub-red;
  }
}

.testimonial {
  @extend .colored-section;
  background-image: asset_url("testimonial_background.jpg");
  background-size: cover;
  padding: 25px 0;
  text-align: left;

  @media #{$medium-up} {
    padding: 100px 0;
  }
}

.impact {
  @extend .colored-section;
  background-color: $hackclub-orange;

  .metric {
    .stat {
      font-weight: bold;
      font-size: rem-calc(48);
      margin-bottom: 0;

      @media #{$medium} {
        font-size: rem-calc(72);
      }

      @media #{$large} {
        font-size: rem-calc(84);
      }
    }

    .stat-desc {
      font-size: rem-calc(24);
      margin-bottom: rem-calc(6);

      @media #{$medium-up} {
        font-size: rem-calc(28);
      }
    }

    .stat-comparison {
      color: $hackclub-white;
      font-size: rem-calc(12);
    }
  }
}

.publications {
  background: $hackclub-black;
  padding: 5px 0;

  @media #{$medium-up} {
    padding: 25px 0;
  }

  .publication {
    height: 100px;
    opacity: 0.6;
    transition: 0.25s;

    @media #{$medium-up} {
      height: 175px;
    }

    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    a > img {
      margin-left: auto;
      margin-right: auto;
      vertical-align: middle;
      width: 75px;

      @media #{$medium-up} {
        width: 175px;
      }
    }
  }

  .publication:hover {
    opacity: 1;
  }
}

.description {
  background-color: $hackclub-blue;
  text-align: left;
  color: white;

  h3 {
    color: white;
  }
}

.team-profiles {
  margin-top: 10px;

  .title {
    text-align: center;
  }

  .profile {
    margin-top: 50px;
    text-align: center;
  }

  .profile-img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .heading {
    margin-bottom: 10px;

    h1 {
      font-size: rem-calc(18);
      font-weight: 600;
      display: inline-block;
      margin-right: 5px;
    }

    h2 {
      font-size: rem-calc(16);
      color: #7c7c7c;
      display: inline-block;
    }
  }

  .bio {
    text-align: justify;
  }

  .advisor {
    .heading {
      h1 {
        margin-top: 7px;
        margin-right: 0;
        margin-bottom: 0;
      }

      h2 {
        margin-top: 0;
      }
    }
  }
}

.join-us {
  @extend .colored-section;
  background-color: $hackclub-green;

  h1 {
    font-size: rem-calc(48);
    margin-bottom: 15px;

    @media #{$medium-up} {
      font-weight: normal;
      font-size: rem-calc(58);
    }
  }

  .button {
    background-color: $hackclub-white;
    color: scale-color($hackclub-green, $lightness: -10%);
    font-size: rem-calc(20);

    @media #{$medium-up} {
      font-size: rem-calc(24);
    }
  }

  .outline-outward:before {
    border-color: $hackclub-white;
  }
}

.sponsors {
  background-color: $hackclub-white;

  li {
    margin-top: 30px;
    list-style-type: none;

    img {
      margin-bottom: 2em;
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  h1 {
    color: $hackclub-black;
  }

  p {
    font-size: rem-calc(28);
  }

  .big-supporters li {
    height: 150px;
    line-height: 150px;

    @media #{$medium-up} {
      height: 200px;
      line-height: 200px;
    }
  }

  .small-supporters li {
    height: 50px;
    line-height: 50px;

    @media #{$medium-up} {
      height: 80px;
      line-height: 80px;
    }
  }
}

.email-form {
  @extend .colored-section;
  background: $hackclub-purple;

  .call-to-action {
    margin: auto;
    max-width: 60ex;
  }

  input {
    text-align: center;
  }

  input[type='submit'] {
    font-size: rem-calc(22);
    color: $hackclub-purple;
    background: white;
  }
}

.footer {
  background-color: $hackclub-black;
  color: $hackclub-white;
  font-weight: 300;
  padding: 30px 0;

  .nav {
    h1 {
      color: $hackclub-white;
      font-size: rem-calc(18);
      font-weight: 600;
      margin-left: 5px;
      text-transform: uppercase;
    }

    ul {
      margin-left: 0;

      li {
        color: $hackclub-white;
        font-weight: inherit;
        list-style-type: none;
        padding: 5px;

        a {
          color: $hackclub-white;
          display: block;
          height: 100%;
          width: 100%;
        }
      }

      .link:hover {
        background-color: scale-color($hackclub-black, $lightness: -10%);
      }
    }
  }

  p {
    font-weight: inherit;
  }
}

.pricing-table {
  .invalid-item {
    text-decoration: line-through;
    color: #aeadad;
  }

  .price {
    background-color: #FAFAFA;
  }

  .title {
    color: white;
    font-size: 150%;
    background-color: rgb(212, 89, 92);
  }
}

.sponsorship {
  padding: 1rem;
}

.small-11.small-centered.columns {
  padding-top: 1.6rem;
}

.h3 {
  font-size: 1.6875rem;
}

#sponsor-clubs-map {
  height: 100px;

  @media #{$large-up} {
    height: 250px;
  }
}
