@import "variables";
@import "fonts";
$include-html-global-classes: false;
@import "foundation/components/global";

.title {
  font-family: "Amaranth", "Open Sans", "Helvetica Neue",  sans-serif;
}

#home-map-jumbotron {
  height: 200px;

  @media #{$medium-up} {
    height: 400px;
  }

  @media #{$large-up} {
    height: 500px;
  }
}

.main-section {
  padding: 50px 0 50px 0;
  text-align: center;
  color: #fff;

  h1 {
    color: #fff;
  }

  p {
    font-size: rem-calc(20);
  }

  @media #{$medium-up} {
    padding: 150px 0 150px 0;
  }
}

.small-section {
  @extend .main-section;
  padding: 20px 0 20px 0;

  @media #{$medium-up} {
    padding: 50px 0 50px 0;
  }
}

.introduction {
  background-image: asset_url("group_photo.jpg");
  background-size: cover;
  padding: 25px 0 25px 0;

  h1 {
    font-size: rem-calc(20);
  }

  @media #{$medium-up} {
    padding: 75px 0 75px 0;

    h1 {
      font-size: rem-calc(32);
    }
  }

  @media #{$large-up} {
    height: 500px;
    line-height: 500px;

    .vertical-align {
      display: inline-block;
    }

    h1 {
      font-size: rem-calc(38);
    }
  }
}

.join-us {
  background-color: $hackedu-green;

  h1 {
    font-size: rem-calc(48);
    margin-bottom: 15px;

    @media #{$medium-up} {
      font-weight: normal;
      font-size: rem-calc(58);
    }
  }

  .button {
    background-color: #fff;
    color: scale-color($hackedu-green, $lightness: -10%);
    font-size: rem-calc(20);

    @media #{$medium-up} {
      font-size: rem-calc(24);
    }
  }

  .outline-outward:before {
    border-color: #fff;
  }
}

.sponsors {
  background-color: $hackedu-orange;

  .logos {
    margin-top: 100px;
  }

  p {
    font-size: rem-calc(28);
  }

  img {
    height: 50px;

    @media #{$medium-up} {
      height: 100px;
    }
  }
}

.rackspace {
  background-color: $hackedu-black;
  color: $text-on-black;

  p {
    font-size: rem-calc(14);
    margin: 15px 0 15px 0;

    @media #{$medium-up} {
      font-size: rem-calc(18);
      margin: 30px 0 30px;
    }

    a {
      color: scale-color($text-on-black, $lightness: 10%);
      text-decoration: underline;
    }
  }
}

.team-profile {
  margin-top: 20px;
}

.team-profile-img {
  max-height: 300px;
  border-radius: 8px;
}

