%meta{name: 'title', content: 'Hack Club'}
%meta{name: 'description', content: 'Be a part of the global movement of free student-led coding clubs.'}
%meta{name: 'og:type', content: "website"}
%meta{name: 'og:url', content: "https://hackclub.com"}
%meta{name: 'og:image', content: "#{ image_path('group_photo_no_gradient.jpg') }"}
