%meta{name: 'title', content: 'Hack Club'}
- content_for?(:description) ? @description = yield(:description) :
- @description = 'Be a part of the global movement of free student-led coding clubs.'
%meta{name: 'description', content: @description}
%meta{name: 'og:type', content: "website"}
%meta{name: 'og:url', content: "https://hackclub.com"}
%meta{name: 'og:image', content: "#{ image_path('group_photo_no_gradient.jpg') }"}
